<div class="row">
    <div class="col-12">
        <img src="assets/encabezado.png" style="width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Técnología</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vinos</a>
            </li>
        </ul>
    </div>
</div>
